.singlePage{
    width: 80%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loader{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 42%;
    margin-bottom: 50px;
}