@import '../../index.scss';

.profileMain{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
    &-inner{
        width: 80%;
        @include _1070{
            width: 96%;
        }
        display: flex;
        flex-direction: column;
    }
    &__registration{
        margin-bottom: 50px;
        @include _600{
            display: flex;
            justify-content: center;
        }
        &-button{
            display: flex;
            justify-content: space-evenly;
            font-family: "Inter";
            font-weight: 700;
            color: white;
            width: 260px;
            height: 40px;
            border-radius: 10px;
            border: none;
            background-color: #ea003d;
            padding-top: 1px;
            cursor: pointer;
            &-icon{
                font-size: 20px;
                margin-top: -3px;
            }
            @include _1070{
                margin-bottom: 0px;
                margin-top: 20px;
            }
            @include _600{
                width: 80%;
                margin: 0 auto;
            }
        }
    }
    &__profile{
        display: block;
        margin-bottom: 50px;
        &_inner{
            display: flex;
        }
        &_title{
            font-family: 'Inter';
            font-weight: 700;
            color: white;
            line-height: 20px;
            font-size: 20px;
            margin-bottom: 30px;
            line-height: 0;
        }
        &_user{
            width: 43px;
            height: 43px;
            background-color: #73a32f;
            border: none;
            color: white;
            border-radius: 8px;
            margin-left: 8px;
            margin-top: 2px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            p{
                font-size: 26px;
                font-weight: bold;
            }
        }
        &_userAdd{
            width: 43px;
            height: 43px;
            background-color: #1f1b2e;
            border: none;
            color: #a5a1b2;
            border-radius: 8px;
            margin-left: 14px;
            margin-top: 2px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            p{
                font-size: 32px;
            }
        }
        &_button{
            margin-top: 20px;
            width: 100px;
            height: 35px;
            border-radius: 10px;
            border: none;
            background-color: #ea003d;
            color: white;
            cursor: pointer;
            margin-left: 8px;
        }
    }
    &__favorites{
        margin: 40px 0 0 0;
        &_inner{
            width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            display: flex;
        }
        &_title{
            display: flex;
            &_text{
                font-family: 'Inter';
                font-weight: 700;
                color: white;
                line-height: 20px;
                font-style: 24px;
                margin-bottom: 30px;
            }
            &_icon{
                font-size: 22px;
                color: white;
                margin-top: 20px;
                margin-left: 5px;
            }
        }
    }
    &-container{
        display: grid;
        row-gap: 25px;
        margin-bottom: 20px;
        @include _1070{
            margin-top: 0;
        }
        &-subList{
            max-width: 100%;
            display: grid;
            grid-template-columns: 42% 23% 22%;
            justify-content: space-between;
            @include _920 {
                grid-template-columns: 46% 46%;
            }
            @include _730 {
                grid-template-columns: 60% 36%;
            }
            @include _600 {
                grid-template-columns: 48% 48%;
            }
            @include _520 {
                grid-template-columns: 1fr;
            }
        }
        &-notificationList{
            width: 100%;
        }
        &-operationList{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
            grid-gap: 15px;
            @include _520{
                grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
            }
        }
    }
    &__item{
        height: 120px;
        font-family: 'Inter', sans-serif;
        color: white;
        background-color: #1f1b2e;
        border-radius: 10px;
        padding-left: 15px;
        position: relative;
        margin-bottom: 20px;
        @include _600 {
            height: 100px;
        }
        &-title{
            margin-top: 10px;
            font-size: 19px;
            line-height: 24px;
            font-weight: 700;
        }
        &-suggestion{
            font-weight: 600;
            position: absolute;
            bottom: 0;
        }
        &_notifications{
            width: 100%;
            background-color: #1f1b2e;
            border-radius: 10px;
            display: flex;
            font-family: 'Inter', sans-serif;
            color: white;
            justify-content: center;
            &-title{
                font-weight: 600;
                font-size: 15px;
            }
            &-icon{
                font-size: 20px;
                margin-top: 15px;
                margin-right: 6px;
                color: #ea003d;
            }
        }
    }
    
    &__item-subscription{
        @include _920 {
            grid-column: 1 / 3;
        }
        @include _520 {
            grid-column: 1;
        }
    }
}

.operationList__item{
    min-width: 140px;
    height: 120px;
    background-color: #1f1b2e;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 10px;
    @include _520{
        min-width: 110px;
        height: 110px;
    }
    &-container{
        margin: auto 0;
        text-align: center;
        font-family: 'Inter';
        color: white;
        line-height: 5px;
        &-icon{
            color: #ea003d;
            font-size: 28px;
        }
        &-title{
            font-size: 16px;
            font-weight: 600;
        }
    }
}

.profileMain__favorites_inner::-webkit-scrollbar {
    width: 0;
}