@import '../../index.scss';

.singlePage{
    @include _1070{
        width: 100%;
    }
    &__container{
        width: 100%;
        height: auto;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        font-family: 'Inter';
        @include _1070{
            grid-template-columns: 1fr;
        }
        @include _550 {
            margin-bottom: 10px;
        }
        &-player{
            grid-row: 2 span;
            @include _1070{
                grid-row-start: 2;
                grid-row-end: 3;
                margin-top: 20px;
            }
            &-title{
                color: white;
                font-size: 20px;
                @include _1070{
                    display: none;
                }
            }
            .player-wrapper {
                position: relative;
                padding-top: 56.25%;
                @include _550{
                    width: 100%;
                }
              }
              
            .react-player {
                position: absolute;
                top: 0;
                left: 0;
            }
            &-buttons{
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                .left{
                    width: 40%;
                    display: flex;
                    justify-content: start;
                    .icon-button{
                        min-width: 40px;
                        height: 40px;
                        border-radius: 10px;
                        color: white;
                        padding: 0;
                        border: 0;
                        margin-right: 10px;
                        background-color: #1F1B2E;
                        font-size: 18px;
                        cursor: pointer;
                        @include _550{
                            min-width: 35px;
                            height: 35px;
                        }
                    }
                    .left-button{
                        width: 120px;
                        height: 40px;
                        display: flex;
                        border-radius: 5px;
                        font-weight: 600;
                        border: none;
                        margin-right: 10px;
                        background-color: #1F1B2E;
                        color: rgba(255,255,255,.8);
                        @include _550{
                            width: 90px;
                            height: 35px;
                        }
                        &-icon{
                            margin-left: 2px;
                            margin-top: 3px;
                            font-size: 28px;
                            @include _550{
                                font-size: 24px;
                            }
                        }
                        &-text{
                            margin-top: 9px;
                            margin-left: 5px;
                            font-size: 15px;
                            @include _550{
                                font-size: 12px;
                            }
                        }
                    }
                }
                .right{
                    .right-button{
                        width: 210px;
                        height: 40px;
                        display: flex;
                        border-radius: 5px;
                        font-weight: 600;
                        border: none;
                        background-color: #1F1B2E;
                        color: rgba(255,255,255,.8);
                        @include _550{
                            width: 100px;
                            height: 35px;
                        }
                        &-icon{
                            margin-left: 2px;
                            margin-top: 3px;
                            font-size: 27px;
                            @include _550{
                                font-size: 24px;
                            }
                        }
                        &-text{
                            margin-top: 9px;
                            margin-left: 10px;
                            font-size: 14px;
                            @include _550{
                                font-size: 10px;
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
        &-info{
            max-width: 100%;
            color: white;
            text-align: center;
            @include _1070{
                grid-row-start: 1;
                grid-row-end: 2;
                text-align: left;
            }
            @include _550{
                text-align: center;
            }
            &-title{
                margin-top: 0;
                font-size: 50px;
                @include _1070{
                    margin: -20px 0 20px 0;
                    font-size: 40px;
                }
                @include _550{
                    font-size: 35px;
                    margin-bottom: 0;
                }
            }
            &-year, &-genre, &-lang{
                color: rgba(255,255,255,.8);
                font-size: 15px;
                font-weight: 500;
                margin: 5px;
                @include _1070{
                    font-weight: 600;
                    font-size: 14px;
                }
                @include _550{
                    font-size: 13px;
                }
            }
        }
        &-desc{
            color: white;
            text-align: center;
            @include _1070{
                grid-row-start: 3;
                grid-row-end: 4;
            }
            &-actors{
                width: 97%;
                display: flex;
                justify-content: space-evenly;
                margin-top: 20px;
                .actor-block{
                    width: 50px;
                    display: block;
                    .actors{
                        width: 44px;
                        height: 44px;
                        margin: 0 auto;
                        border: 7px solid rgba(255, 255, 255, 0.16);
                        border-radius: 16px;
                        object-fit: cover;
                    }
                    label{
                        text-align: center;
                        font-size: 13px;
                        color:rgba(255, 255, 255, 0.72);
                    }
                }
                @include _550{
                    justify-content: space-between;
                    .actor-block{
                        label{
                            font-size: 11px;
                            line-height: 5px;
                        }
                    }
                }
                .actor-block:hover{
                    .actors{
                        transition: all 0.2s ease-in;
                        border: 7px solid rgba(255,255,255,.3);
                    }
                    label{
                        transition: color 0.2s ease-in;
                        color: white;
                    }
                }
            }
            &-desc-show{
                height: auto;
                color: rgba(255, 255, 255, 0.72);
                text-align: start;
                line-height: 24px;
                font-size: 14px;
                @include _550{
                    font-size: 13px;
                }
            }
            &-desc{
                height: 100px;
                overflow: hidden;
                color: rgba(255, 255, 255, 0.72);
                text-align: start;
                line-height: 24px;
                font-size: 14px;
                @include _550{
                    font-size: 13px;
                }
            }
            &-button{
                display: flex;
                justify-content: start;
                font-family: 'Inter';
                font-size: 14px;
                margin-bottom: 40px;
                margin-top: -5px;
                line-height: 0;
                color:rgba(255, 255, 255, 0.48);
                cursor: pointer;
            }
            &-button:hover{
                color:rgba(255, 255, 255, 0.92);
            }
            &-rating{
                width: 441px;
                height: 84px;
                background-color: rgba(255, 255, 255, 0.08);
                border-radius: 12px;
                display: flex;
                position: relative;
                font-family: 'Inter', sans-serif, Arial;
                @include _550 {
                    width: 330px;
                    height: 70px;
                }
                @include _730 {
                    margin: 0 auto;
                }
                .rating-block{
                    width: 64px;
                    height: 64px;
                    background-color: #73A32F;
                    border-radius: 8px;
                    margin: auto 15px;
                    p{
                        margin-top: 13px;
                        font-size: 28px;
                        font-weight: 600;
                    }
                    @include _550 {
                        width: 50px;
                        height: 50px;
                        p{
                            margin-top: 9px;
                            font-size: 24px;
                            font-weight: 600;
                        }
                    }
                }
                .rating-info{
                    color:rgba(255, 255, 255, 0.72);
                    line-height: 7px;
                    text-align: start;
                    .title{
                        color: white;
                        font-size: 15px;
                        font-weight: 500;
                    }
                    .desc{
                        font-size: 14px;
                    }
                    .estimateNum{
                        font-size: 14px;
                    }
                    @include _550 {
                        margin-top: 4px;
                        .title{
                            font-size: 12px;
                            font-weight: 500;
                        }
                        .desc{
                            font-size: 11px;
                        }
                        .estimateNum{
                            font-size: 11px;
                        }
                    }
                    
                }
                .estimate{
                    width: 72px;
                    height: 24px;
                    position: relative;
                    color: white;
                    font-weight: 500;
                    margin: auto 20px;
                    background-color:rgba(255, 255, 255, 0.08);
                    border: 1px solid rgba(255, 255, 255, 0.32);
                    border-radius: 6px;
                    position: absolute;
                    right: 0;
                    top: 35%;
                    cursor: pointer;
                }
                .estimate:hover{
                    border: 1px solid white;
                    transition: border 0.2s ease-in-out;
                }
            }
        }
    }
}