@import '../../index.scss';

.similar{
    width: 100%;
    margin: 20px auto;
    &__title{
        display: flex;
        &-text{
            font-family: 'Inter';
            font-weight: 700;
            color: white;
            line-height: 20px;
            font-style: 24px;
            margin-bottom: 30px;
            @include _550{
                font-size: 20px;
            }
        }
        &-icon{
            font-size: 22px;
            color: white;
            margin-top: 20px;
            margin-left: 5px;
            @include _550{
                font-size: 19px;
                margin-top: 18px;
            }
        }
    }
    &__row{
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
    }
}
.similar__row::-webkit-scrollbar {
    width: 0;
}