.genrePage{
    &__container{
        width: 80%;
        margin: 40px auto;
        &-inner{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            row-gap: 20px;
            column-gap: 10px;
        }
    }
}